<div class="list-group" (click)="onClicked()">
    <a *ngIf="!category" [class.active]="true" routerLink="/products" class="list-group-item list-group-item-action">
        All Categories
    </a>
    <a *ngIf="category" [class.active]="true" routerLink="/products" class="list-group-item list-group-item-action">
        {{ category }}
    </a>
    <div *ngIf="isOpen" @fadeFast>
        <a (click)="onSelect(c)" *ngFor="let c of categories" routerLink="/products" [queryParams]="{ category: c.name }" class="list-group-item list-group-item-action"
            [class.active]="category === c.name">
            {{ c.name }}
        </a>
    </div>
</div>