@import "./../../../../shared/sass/base/_base.scss";
.list-group {
    color: $color-grey-1;
    top: 25rem;
    text-align: center;
}

@media (min-width: 992px) {
    header.masthead>.overlay {
        padding: 10rem 0;
    }
}

.isClosed {
    transition: all .5s;
    a {
        &:not(.active) {
            opacity: 0;
            visibility: hidden;
        }
    }
}