<!-- //! CAPTION -->
<div class="caption">
    <label *ngIf="option.caption">{{ option.caption }} </label>
</div>
<hr>
<br>
<!-- //! SEARCH -->
<div class="form-group pull-right" [style.width]="'20%'" *ngIf="option.search">
    <label for="search">Search</label>
    <input #search="ngModel" [(ngModel)]="searchParam" (keyup)="onSearch()" id="search" name="search" type="text" class="form-control">
</div>
<br>
<table>
    <thead *ngIf="hasHeaderColumns">
        <tr class="header">

            <!-- //! THUMBNAIL COLUMN NAME-->
            <th *ngIf="option.hasThumbnail"></th>
            <th scope="col" *ngFor="let column of option.columns" (click)="sortBy(column.name)">{{ column.name }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of itemsList[currentPage-1]; let idx = index;">

            <!-- //! THUMBNAIL IMAGE -->
            <td *ngIf="option.hasThumbnail === true" [style.width]="thumbnailWidth" class="thumbnail-col">
                <img *ngIf="option.hasThumbnail" [src]="i.item['thumbnail']" class="img-thumbnail" alt="">
            </td>

            <!-- //! OTHER COLUMNS -->
            <td [style.width]="column.fieldWidth" scope="row" *ngFor="let column of option.columns; let colIndex = index" attr.data-label="{{column.name}}">

                <div [ngClass]="{ 'isBold': column.isBold, 'isCurrency': column.isCurrency, 'isAlignCenter': column.isAlignCenter, 'isAlignLeft': !column.isAlignCenter }">

                    <!-- //? NON - CURRENCY COLUMNS -->
                    <div *ngIf="!column.isCurrency else isCurrency">

                        <!-- //? NON - REMOVABLE COLUMNS -->
                        <div *ngIf="!column.isRemovableItem else isRemovable">

                            <!-- //? INPUT COLUMNS -->
                            <div *ngIf="column.isInputField else regularColumn">

                                <!-- //? COLUMN IS TEXT FIELD -->
                                <div *ngIf="column.isInputField?.text else isInputNumber">
                                    <input #inputText [value]="i.item[column.name]" (change)="emitValue(i.item, column.name, inputText.value)" type="text" class="form-control">
                                </div>

                                <!-- //? COLUMN IS NUMBER FIELD -->
                                <ng-template #isInputNumber>
                                    <input #inputNumber [value]="i.item[column.name]" (change)="emitValue(i.item, column.name, inputNumber.value)" type="number"
                                        class="form-control">
                                </ng-template>
                            </div>

                            <!-- //? REGULAR COLUMNS -->
                            <ng-template #regularColumn>
                                {{ i.item[column.name] }}
                            </ng-template>
                        </div>
                    </div>

                    <!-- //? CURRENCY COLUMNS -->
                    <ng-template #isCurrency>
                        {{ i.item[column.name] | currency:'AUD':true }}
                    </ng-template>
                </div>
            </td>

            <!-- //? EDIT LINK COLUMN -->
            <td *ngIf="option.itemLinkUrl">
                <a [routerLink]="[option.itemLinkUrl, i.item.id]" [queryParams]="{ name: i.item.name ? i.item.name : i.item.company }" class="btn btn-default">Edit</a>
            </td>

            <!-- //? REMOVEABLE COLUMN -->
            <ng-template #isRemovable>
                <span class="glyphicon glyphicon-remove-sign remove" (click)="onRemoveItem(i.item['id'])"></span>
            </ng-template>
        </tr>
    </tbody>
</table>

<!-- //! PAGINATION -->
<nav *ngIf="totalItems > pageSize && option.paging">
    <ul class="pagination">
        <li [class.disabled]="currentPage == 1">
            <a (click)="previous()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li *ngFor="let page of pages" [class.active]="currentPage == page" (click)="changePage(page)">
            <a>{{ page }}</a>
        </li>
        <li [class.disabled]="currentPage == pages.length">
            <a (click)="next()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>