@import "./../../../shared/sass/base/_base.scss";
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 50px;
}

.caption {
    width: 100%;
    font-size: 1.8em;
    margin: .25em 0 .75em;
    text-align: center;
}

table tr {
    padding: .35em;
}

table th {
    padding: .625em;
    text-align: center;
}

table td {
    padding: .625em;
    text-align: center;
    margin-bottom: .1em;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

table td img {
    text-align: center;
}

.isBold {
    font-weight: bold;
}

.isAlignCenter {
    text-align: center;
}

.isAlignLeft {
    text-align: left;
}

.isCurrency {
    color: red;
}

.header {
    font-size: 18px;
}

.remove {
    color: red;
    font-size: 18px;
}

span.remove:hover {
    color: rgb(116, 0, 0);
}

.action {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .hasThumbnail {
        width: 100%;
    }
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        display: none;
    }
    table tr {
        display: block;
        margin-bottom: .625em;
    }
    table td {
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}