@import './../../../shared/sass/base/_base.scss';
.product-specification {
    width: 128rem;
    margin: 0 auto;
    text-align: center;
    @include respond(phone) {
        width: 100%;
    }
    h4 {
        margin-top: 10rem;
        margin-left: auto;
        margin-right: auto
    }
    &--image-box {
        border-radius: 3px;
        overflow: hidden;
        -webkit-box-shadow: 0px 8px 14px 3px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 0px 8px 14px 3px rgba(0, 0, 0, 0.26);
        box-shadow: 0px 8px 14px 3px rgba(0, 0, 0, 0.26);
        &__image {
            width: 100%;
        }
    }
    &--video {
        iframe {
            height: 72rem;
        }
    }
}