<section class="product-view">
    <product-list *ngIf="product" [product]="product" [image]="thumbnail"></product-list>
    <div class="product-specification">
        <h4 class="heading-secondary">Specification</h4>
        <hr>
        <div class="product-specification--video" *ngIf="hasVideo">
            <iframe width="100%" height="100%" [src]="product.videoLink | safe" #video>
            </iframe>
        </div>
        <div class="product-specification product-specification--image-box" *ngIf="hasSpecification">
            <div class="specifications" *ngFor="let spec of product.specificationPhotos">
                <img class="product-specification product-specification--image-box__image" [src]="folderPath.SpecificationPhotos + spec.name"
                    alt="Specification">
            </div>
        </div>
    </div>
</section>