*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Abel', sans-serif !important;
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    line-height: 1.7 !important;
    box-sizing: border-box !important;
}

.btn {
    font-size: 1.6rem;
}

.row {
    margin: 0 0;
}

#toasty {
    margin-top: 10rem;
}