<button (click)="toTop()" id="to-top" title="Go to top" [ngClass]="isScrolling ? 'to-top': 'hide'">Top</button>
<section class="products">
    <div class="row filter">
        <div class="col-md-12">
            <product-filter [category]="category"></product-filter>
        </div>
    </div>
    <div class="row" *ngFor="let group of productCardGroups">
        <div class="products__list products__list__product col-md-3" *ngFor="let item of group">
            <product-card *ngIf="item" [product-card]="item.item"></product-card>
        </div>
    </div>
</section>