@import "./../../../shared/sass/base/_base.scss";
.products {
    margin: 5rem 5rem;
    @include div-center;
    width: 100%; // &__filter {
    //     position: fixed;
    // }
    &__list {
        float: right;
        padding-left: 5rem;
        &__product {
            padding: 2rem 0;
        }
    }
}

.to-top {
    display: block;
}

.hide {
    display: none;
}

.row {
    max-width: 125rem;
    margin: 0 auto;
}

[class*='col-md-'] {
    width: 25%;
    padding: 2rem 2rem;
    @include respond(phone) {
        width: 100%;
    }
}

.filter div {
    width: 100%;
    z-index: 99;
}

.product-card__side--front {
    @include respond(phone) {
        height: 65rem !important;
    }
}