@import './../../../shared/sass/base/_base.scss';
textarea {
    display: block;
    width: 100%;
    resize: vertical;
}

.disabled {
    background-color: lightgray;
    border: 1px dotted;
}

.glyphicon {
    font-size: 34px;
}

.remove {
    color: $color-tertiary-light;
}