<section class="admin-products">
    <h1>Products List</h1>
    <p>
        <a [routerLink]="['/admin/product/new']" class="btn btn-primary">New Product</a>
    </p>
    <responsive-table *ngIf="options.items!.length == products?.length" [rtoption]="options"></responsive-table>
</section>