<button (click)="toTop()" id="to-top" title="Go to top" [ngClass]="isScrolling ? 'to-top': 'hide'">
    Top</button>
<section class="header" #headerSection @fade [style.opacity]="_opacity">
    <div class="header__logo-box">
        <!-- <img src="/assets/img/logo.png" alt="Logo" class="header__logo"> -->
    </div>
    <div class="header__text-box">
        <h1 class="heading-primary">
            <div class="heading-primary--main">
                <a [routerLink]="['/products']" class="st-btn">Start Shopping</a>
            </div>
            <span class="heading-primary--sub ">Come and get your monthly dose of hardware.</span>
        </h1>
    </div>
</section>