@import "./../../../shared/sass/base/_base.scss";
.header {
    margin: $nav-header-height -5rem;
    top: 7.9rem;
    height: 95vh;
    @include bg-header-image;
    background-size: cover;
    background-position: top;
    position: relative;
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        text-align: center;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-top: 6rem;
    &--main {
        display: block;
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: 3.5;
        animation: moveInLeft 1s ease-out;
        a {
            padding: 1rem 2.5rem;
            @include respond(phone) {
                font-size: 2.2rem;
            }
        }
        &:hover {
            transform: translateY(-.25rem);
            transition: all .1s;
        }
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
        padding-top: 2.5rem;
        @include respond(phone) {
            font-size: 1.2rem;
        }
    }
}