<section class="section-about" id="#about">
    <div class="u-center-text u-margin-bottom-small">
        <h2 class="heading-secondary">About</h2>
    </div>
    <div class="c-row">
        <hr>
        <div class="col-1-of-2">
            <h3 class="heading-tertiary u-margin-bottom-small">
                Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
            <p class="paragraph paragraph--1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, natus officiis. Non molestiae itaque magni consequatur tenetur
                autem voluptate necessitatibus obcaecati numquam reprehenderit et vel iste quidem nobis, quasi ipsa.Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ex, natus officiis. Non molestiae itaque magni consequatur
                tenetur autem voluptate necessitatibus obcaecati numquam reprehenderit et vel iste quidem nobis, quasi ipsa.
            </p>
            <h3 class="heading-tertiary u-margin-bottom-small">
                Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
            <p class="paragraph paragraph--2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, natus officiis. Non molestiae itaque magni consequatur
                tenetur autem voluptate necessitatibus obcaecati numquam reprehenderit et vel iste quidem nobis, quasi ipsa.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, natus officiis. Non molestiae itaque magni consequatur
                tenetur autem voluptate necessitatibus obcaecati numquam reprehenderit et vel iste quidem nobis, quasi ipsa.
            </p>
            <a class="btn-text">Learn more &rarr;</a>
        </div>
        <div class="col-1-of-2">
            <div class="composition">
                <img src="/assets/img/notebook-laptop-1.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                <img src="/assets/img/notebook-laptop-3.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
                <img src="/assets/img/notebook-laptop-2.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
            </div>
        </div>
    </div>
</section>