@import './../../../shared/sass/base/_base.scss';
.section-about {
    margin-top: 25rem;
    height: 70rem;
    hr {
        height: 2px;
    }
    position: relative;
    @include respond(phone) {
        height: 130rem;
        [class*="col-"] {
            width: 95%;
        }
    }
}

.composition {
    position: relative;
    &__photo {
        width: 50%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        position: absolute;
        border-radius: 3px;
        @include respond(phone) {
            width: 100%;
        }
        &--p1 {
            left: 1.2rem;
            top: 2rem;
        }
        &--p2 {
            right: 29%;
            top: 12rem;
            @include respond(phone) {
                left: 1.2rem;
                top: 26rem;
            }
        }
        &--p3 {
            left: 41%;
            top: 6rem;
            @include respond(phone) {
                left: 1.2rem;
                top: 14rem;
            }
        }
        &:hover {
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }
    &:hover &__photo:not(:hover) {
        filter: brightness(90%) blur(3px);
        transform: scale(.9);
    }
}

.paragraph {
    &--1 {
        margin-top: 2rem;
        margin-bottom: 3rem !important;
    }
    &--2 {
        margin-top: 2rem;
        margin-bottom: 3rem !important;
    }
}