<h1>Hi, {{ userProfile.nickname }}</h1>
<hr>
<div class="row">
    <div class="col-md-6">
        <h2>Check Out?</h2>
        <hr>
        <div class="list-group" *ngFor="let cart of shoppingCarts">
            <div class="list-group-item">
                <div class="row">
                    <div class="col-md-4"> Check Out
                        <a [routerLink]="['/check-out', cart.id]" [style.fontWeight]="'bold'"> #{{ cart.reference }} </a>
                    </div>
                    <div class="col-md-8"> Date
                        <a [routerLink]="['/check-out', cart.id]" [style.fontWeight]="'bold'"> {{ cart.created | date:'dd/MM/yyyy' }} </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-6">
        <h2>Orders</h2>
        <hr>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody *ngIf="orders">
            <tr *ngFor="let o of orders">
                <td>#{{ o.reference }}</td>
                <td>Pending...</td>
                <td>{{ o.created | date:'dd/MM/yyyy' }}</td>
            </tr>
        </tbody>
    </table>
</div>