@import './../../sass/base/_base.scss';
// .card {
//     padding: 5rem 5rem;
//     width: 100%;
// }
// .card-title {
//     height: 5rem;
//     overflow: hidden;
//     font-weight: bold;
//     font-size: 1.4rem;
// }
// .card-text {
//     height: 10rem;
//     overflow: hidden;
// }
// .price {
//     font-weight: bold;
//     font-size: 1.8rem;
//     color: red;
// }
// @media screen and (max-width: 600px) {
//     .card {
//         width: 100%;
//     }
// }
.product-card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    transition: all .75s;
    &:hover {
        transform: translateY(-2rem);
    }
    &__side {
        color: $color-white;
        font-size: 2rem;
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 0 3rem rgba($color: $color-black, $alpha: .15);
        &--front {
            background-color: $color-white;
        }
        &--back {
            transform: rotateY(180deg);
            background-blend-mode: screen;
            background-repeat: no-repeat;
            background-size: cover;
            &-1 {
                // background-image: linear-gradient(to right bottom, $color-violet-medium, $color-violet-dark);
                // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-base);
                background-image: linear-gradient(to right, $color-grey-medium, $color-grey-dark), url('/assets/img/vector-dark.png');
            }
            &-2 {
                // background-image: linear-gradient(to right bottom, $color-indigo-medium, $color-indigo-dark);
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-base);
            }
            &-3 {
                // background-image: linear-gradient(to right bottom, $color-blue-medium, $color-blue-dark);
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-base);
            }
            &-4 {
                // background-image: linear-gradient(to right bottom, $color-green-medium, $color-green-dark);
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-base);
            }
            &-5 {
                // background-image: linear-gradient(to right bottom, $color-yellow-medium, $color-yellow-dark);
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-base);
            }
            &-6 {
                // background-image: linear-gradient(to right bottom, $color-orange-medium, $color-orange-dark);
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-base);
            }
            &-7 {
                // background-image: linear-gradient(to right bottom, $color-red-medium, $color-red-dark);
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-base);
            }
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    &__picture {
        background-size: cover;
        height: 35rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); // clip-path: polygon(0 75%, 100% 65%, 100% 100%, 0 100%);
        // -webkit-clip-path: polygon(0 75%, 100% 65%, 100% 100%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &--1 {
            background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-dark), url('/assets/img/vector.png');
            background-repeat: no-repeat;
        }
        &--2 {
            background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-dark), url('/assets/img/vector.png');
            background-repeat: no-repeat;
        }
        &--3 {
            background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-dark), url('/assets/img/vector.png');
            background-repeat: no-repeat;
        }
        &--4 {
            background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-dark), url('/assets/img/vector.png');
            background-repeat: no-repeat;
        }
        &--5 {
            background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-dark), url('/assets/img/vector.png');
            background-repeat: no-repeat;
        }
        &--6 {
            background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-dark), url('/assets/img/vector.png');
            background-repeat: no-repeat;
        }
        &--7 {
            background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-dark), url('/assets/img/vector.png');
            background-repeat: no-repeat;
        }
    }
    &__heading {
        height: 65%;
        overflow: hidden;
        h4 {
            color: $color-white;
            font-size: 2.5rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center; // position: absolute;
            width: 100%;
            height: 10%;
            overflow: hidden;
        }
    }
    &__details {
        height: 20%;
        overflow: hidden;
        color: $color-black;
        background-color: $color-black;
        padding: 3rem;
        height: 80%;
    }
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        text-align: center;
    }
    &__price-box {
        margin-bottom: 6rem;
        color: $color-white;
        bottom: 0;
        height: 20%;
    }
    &__description {
        font-size: 1.5rem;
        background-color: $color-grey-3;
        padding: .5rem .5rem;
        color: $color-white;
        border-radius: 3px;
        -webkit-box-shadow: -1px 12px 44px -10px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: -1px 12px 44px -10px rgba(0, 0, 0, 0.56);
        box-shadow: -1px 12px 44px -10px rgba(0, 0, 0, 0.56);
    }
    &__price-only {
        font-size: 2.4rem;
        text-transform: uppercase;
    }
    &__price-value {
        font-size: 4rem;
        font-weight: 100;
        background-color: $color-red-light;
    }
}

.heading-small {
    margin: 1rem 1rem;
}