<a [routerLink]="productCard.link" [queryParams]="{ name: productCard.title }">
    <div class="product-card">
        <div class="product-card__side product-card__side--front">
            <div [class]="'product-card__picture product-card__picture--' + pictureNumber">
                <img *ngIf="productCard.imageUrl.length > 0" [src]="productCard.imageUrl" [style.opacity]="'1'">
            </div>
            <div class="product-card-details">
                <div class="u-center-text u-margin-bottom-small">
                    <h4 class="heading-small"> {{ productCard.title }} </h4>
                    <h4 class="heading-small" [style.color]="'red'">
                        {{ productCard.price | currency:'AUD':true }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="product-card__side product-card__side--back product-card__side--back-1">
            <div class="product-card__cta">
                <div class="product-card__heading">
                    <h4>
                        <span class="product-card__heading-span product-card__heading-span--1"> {{ productCard.title }} </span>
                    </h4>
                    <hr>
                    <div class="product-card__description">{{ productCard.descripton }}</div>
                </div>
                <hr>
                <div class="product-card__price-box">
                    <div class="product-card__price-only">Only</div>
                    <div class="product-card__price-value">{{ productCard.price * 0.75 | currency:'AUD':true }}</div>
                </div>
            </div>
        </div>
    </div>
</a>