<h1>Payment Methods List</h1>
<p>
    <a [routerLink]="['/admin/payment-method/new']" class="btn btn-primary">New Payment Method</a>
</p>
<responsive-table *ngIf="options" [rtoption]="options"></responsive-table>