<section class="section-contact">
    <div class="u-center-text u-margin-bottom-small">
        <h2 class="heading-secondary-light">Subscribe</h2>
    </div>
    <div class="c-row" [style.max-width]="'180rem'">
        <hr>
        <div class="contact">
            <form class="form">
                <div class="u-margin-bottom-medium">
                    <h2>Subscribe for news and discounts</h2>
                </div>
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="Full Name" id="name" required>
                    <label for="name" class="form__label">Full Name</label>
                </div>
                <div class="form__group">
                    <input type="email" class="form__input" id="email" placeholder="Email" required>
                    <label for="email" class="form__label">Email</label>
                </div>
                <div class="form__group">
                    <div class="u-center-text">
                        <a href="#" class="st-btn st-btn-secondary">Subscribe</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>