@import './../../../shared/sass/base/_base.scss';
.section-contact {
    background-image: linear-gradient(125deg, rgba($color-grey-3, .85) 50%, transparent 50%), url('/assets/img/gtx-1080-ti.jpg');
    background-size: 100%;
    margin: 5rem auto;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .25);
    max-width: 180rem;
    @include respond(phone) {
        background-size: cover;
        .c-row {
            margin-left: 2.5rem;
        }
    }
}

.contact {
    height: 70rem;
    width: 100%;
    hr {
        height: 2px;
    }
    @include respond(phone) {
        width: 100%;
        padding: 1rem;
        height: 40rem;
    }
}

.form {
    width: 50%;
    padding: 6rem;
    @include respond(phone) {
        width: 100%;
        padding: 1rem;
    }
    h2 {
        color: $color-grey-1;
        transition: all .2s;
        @include respond(phone) {
            font-size: 2.3rem;
            font-weight: 700;
        }
        &:hover {
            transform: translateX(1rem) scale(1.05);
        }
    }
    &__group:not(:last-child) {
        margin-bottom: 2rem;
        @include respond(phone) {
            margin-bottom: 0;
        }
    }
    &__input {
        font-size: 2.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        background-color: rgba($color: $color-white, $alpha: .95);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        @include respond(phone) {
            font-size: 2rem;
            padding: 1rem 1.5rem;
            width: 100%;
        }
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: .1);
            border-bottom: .5rem solid $color-green-light;
        }
        &:focus:invalid {
            border-bottom: .5rem solid $color-red-light;
        }
        &::-webkit-input-placeholder {
            font-size: 2.5rem;
            color: $color-grey-3;
        }
    }
    &__label {
        font-size: 2.5rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}

#contact_row {
    max-width: 100%;
    padding: 0 5rem;
}

.st-btn {
    font-size: 3rem !important;
    @include respond(phone) {
        font-size: 2.5rem !important;
        margin-top: -1rem !important;
    }
}