<!-- <ul id="horizontal-list">
    <li *ngFor="let imageUrl of currentImage" @slide>
        <a href="#">
            <img [src]="imageUrl.image" alt="">
        </a>
    </li>
</ul> -->

<section class="img-slider">

</section>