// ul#horizontal-list {
//     min-width: 696px;
//     list-style: none;
//     list-style-type: none;
//     padding-top: 20px;
//     margin-left: -40px;
//     overflow: hidden;
//     display: inline;
//     z-index: -999;
//     color: red;
// }

// ul#horizontal-list li img {
//     width: 40%;

//     // size: cover;
// }

// ul#horizontal-list li {
//     z-index: -999;
//     width: 100%;
//     max-height: 80rem;
//     overflow: hidden;
//     position: absolute;
// }

.img-slider {
    
}
