<form #f="ngForm" (ngSubmit)="save()" novalidate>
    <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="availability.name" name="name" id="name" type="text" class="form-control" required>
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
            <div *ngIf="name?.errors.required">Name is required.</div>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" (click)="save()" [disabled]="f.invalid">
            Save</button>
        <a [routerLink]="['/admin/availabilities']" class="btn btn-default">View Availabilities List</a>
    </div>
</form>