@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem) rotate(-50deg);
    }
    60% {
        transform: rotate(360deg);
    }
    80% {
        transform: translateX(2rem);
    }
    100% {
        transform: translateX(5rem);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(30rem);
    }
    80% {
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}