@import './../abstracts/_mixins.scss';
@import './../abstracts/_variables.scss';
.heading-secondary {
    @include heading-linear-gradient;
}

.heading-secondary-light {
    @include heading-linear-gradient($color-primary-light, $color-white);
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.heading-small {
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3px;
    }
}

.message {
    &--sold-out {
        margin: 1rem 0;
        @include message($color-grey-light, $color-grey-dark);
    }
    &--available {
        margin: 1rem 0;
        @include message($color-blue-light, $color-blue-dark);
    }
}