<ol class="breadcrumb breadcrumb-arrow" *ngIf="breadcrumb">
    <li *ngFor="let p of breadcrumb.info.parents">
        <a [routerLink]="p.url">{{ p.name }}</a>
    </li>
    <li *ngIf="breadcrumb.info">
        <a [routerLink]="breadcrumb.info.url">{{ breadcrumb.info.name }}</a>
    </li>
    <li *ngIf="breadcrumb.name">
        {{ breadcrumb.name }}
    </li>
</ol>