@import './../../../shared/sass/base/_base.scss';
.breadcrumb {
    font-weight: bold;
    box-shadow: 0 .1rem .5rem rgba($color-black, .15);
    background-blend-mode: overlay;
    background-image: linear-gradient( to bottom, rgba($color-grey-2, .1), rgba($color-grey-1, .1)), linear-gradient( to top, rgba($color-grey-1, .1), rgba($color-grey-2, .1));
}

a {
    text-decoration: none;
}