@import './../../../shared/sass/base/_base.scss';
.section-promotions {
    height: 80rem;
    margin: 0 -5rem;
    hr {
        height: 2px;
    }
    background-color: $color-grey-light;
    padding: 0 0 5rem 0;
    @include respond(phone) {
        height: 360rem;
        [class*="col-"] {
            width: 100%;
        }
    }
}

.c-row {
    max-width: 190rem;
    padding: 0 5rem;
}

.card {
    max-width: 25rem;
    @include respond(phone) {
        max-width: 100%;
        margin: 2rem 0;
    }
}

.discount {
    text-decoration: line-through;
}

.check-them-out {
    margin-top: -5rem;
}