<section class="section-promotions">
    <div class="u-center-text u-margin-bottom-small">
        <h2 class="heading-secondary">Promotions</h2>
    </div>
    <div class="c-row" [style.width]="'100%'">
        <hr>
        <div class="col-1-of-{{ promoProducts.length }}" *ngFor="let p of promoProducts; let i = index">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--{{ i + 1 }}">
                        &nbsp; </div>
                    <div class="card-details">
                        <div class="u-center-text u-margin-bottom-small">
                            <h4 class="heading-secondary">Was </h4>
                            <h4 class="heading-secondary" style='color:red;text-decoration:line-through'>
                                {{ p.price | currency:'AUD':true }}
                            </h4>
                        </div>
                        <div class="u-center-text u-margin-bottom-small">
                            <h4 class="heading-secondary">Now </h4>
                            <h4 class="heading-secondary">
                                {{ p.price * 0.75 | currency:'AUD':true }}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-{{ i + 1 }}">
                    <div class="card__cta">
                        <div class="card__heading">
                            <h4>
                                <span class="card__heading-span card__heading-span--{{ i + 1 }}">{{ p.name }}</span>
                            </h4>
                            <hr>
                            <div class="card__description">{{ p.description }}</div>
                        </div>
                        <hr>
                        <div class="card__price-box">
                            <div class="card__price-only">Only</div>
                            <div class="card__price-value">{{ p.price * 0.75 | currency:'AUD':true }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="u-center-text check-them-out">
        <a [routerLink]="['/products']" class="st-btn st-btn--tertiary" [style.fontSize]="'3rem'">Check them out!</a>
    </div>
</section>