<div class="product-list">
    <div class="product-list__image-box">
        <img class="product-list__image-box product-list__image-box__image" [src]="image">
    </div>
    <div class="product-list__detail">
        <h4 class="heading-small">
            {{ product.name }}
            <hr>
            <span class="price">{{ product.price | currency:'AUD':true }}</span>
            <hr>
        </h4>
        <p>{{ product.description }}</p>
        <div class="shopping-buttons">
            <add-to-cart *ngIf="productCard" [product-card]="productCard"></add-to-cart>
        </div>
    </div>
</div>