@import '../../sass/base/_base.scss';
.product-list {
    height: 45rem;
    width: 128rem;
    margin: 0 auto;
    background-color: $color-grey-light;
    border-radius: 3px;
    -webkit-box-shadow: 0 1rem 6rem -1rem rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 1rem 6rem -1rem rgba(0, 0, 0, 0.37);
    box-shadow: 0 1rem 6rem -1rem rgba(0, 0, 0, 0.37);
    @include respond(phone) {
        height: 100%;
        width: 100%;
    }
    &__image-box {
        background-size: cover;
        background-blend-mode: screen;
        border-radius: 3px;
        float: left;
        @include respond(phone) {
            width: 100%;
            padding: 1rem 1rem;
        }
        &__image {
            background-image: linear-gradient(to right bottom, $color-grey-medium, $color-grey-dark), url('/assets/img/vector.png');
            background-repeat: no-repeat;
        }
    }
    &__detail {
        padding: 2rem 2rem;
        text-align: center;
        margin: 5rem 5rem;
        @include respond(phone) {
            margin: unset;
        }
        h4 {}
        p {
            width: 60%;
            margin-left: 40%;
            @include respond(phone) {
                width: unset;
                margin-left: unset;
            }
        }
    }
}

.price {
    color: red;
}

.shopping-buttons {
    margin-top: 5rem;
    width: 60%;
    margin-left: 40%;
    @include respond(phone) {
        width: unset;
        margin-left: unset;
    }
}