<h1>Check Out</h1>
<div class="row">
    <div class="col-md-7">
        <h1>1. Select delivery or pick up</h1>
        <hr>
        <div class="radios">
            <div class="form-group">
                <input name="delivery" id="delivery" ng-control="delivery" type="radio" [value]="1" [(ngModel)]="deliveryOption">
                <label for="delivery"> Pickup In Store </label>
            </div>
            <div class="form-group">
                <input name="delivery" id="delivery" ng-control="delivery" type="radio" [value]="2" [(ngModel)]="deliveryOption">
                <label for="delivery"> I would like my order to be delivered </label>
            </div>
        </div>
        <div *ngIf="deliveryOption == 2">
            <div>
                <!-- //? INVOICE -->
                <h3>Invoice Detail</h3>
                <hr>
                <address [address]="invoiceForm" (on-change)="onInvoiceSubmit($event)"></address>
                <input type="checkbox" [value]="useInvoiceAddress" (click)="onUseInvoiceAddress()"> User Invoice Address
            </div>
            <div *ngIf="!useInvoiceAddress">
                <!-- //? DELIVERY -->
                <h3>Invoice Detail</h3>
                <hr>
                <address [address]="deliveryForm" (on-change)="onDeliverySubmit($event)"></address>
            </div>

            <!-- //? SHIPPING METHOD -->
            <div>
                <h1>3. Select your shipping method</h1>
                <hr>
                <shipping [shipping]="shippingForm" (on-change)="onShippingChange($event)"></shipping>
            </div>

            <!-- //? PAYMENT METHOD -->
            <div>
                <h1>4. Select your payment method</h1>
                <payment [payment]="paymentForm" (on-change)="onPaymentChange($event)"></payment>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div *ngIf="shoppingCartResource.id">
            <h1>My Order</h1>
            <responsive-table *ngIf="options" [rtoption]="options"></responsive-table>
        </div>
        <hr>
        <div class="row cart-footer">
            <div class="col-md-8"></div>
            <div class="col-md-2">Total </div>
            <div class="col-md-1">
                <p [style.color]="'red'">{{ shoppingCartResource.totalPrice | currency:'AUD':true }}</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <hr>
        <div class="row cart-footer">
            <div class="row">
                <div class="col-md-10">
                    <a [routerLink]="['/my/orders']" class="btn btn-default pull-right">Cancel</a>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" [disabled]="isFormReady" (click)="completeOrder()">Complete Order</button>
                </div>
            </div>
        </div>
    </div>
</div>