<h1>Availabilities List</h1>
<p>
    <a [routerLink]="['/admin/availability/new']" class="btn btn-primary">New Availability</a>
</p>
<responsive-table *ngIf="rtoption" [rtoption]="rtoption"></responsive-table>