<form #f="ngForm" (change)="save()" novalidate>
    <div class="form-group">
        <select #payment [(ngModel)]="paymentForm.form" name="payment" id="payment" class="form-control" (change)="onSelectedPayment(payment.value)">
            <option [value]="0">Please select a payment method</option>
            <option #option *ngFor="let p of payments" [value]="p.id">{{ p.name }}</option>
        </select>
    </div>
    <div class="list-group" *ngIf="selectedPayment">
        <div class="list-group-item" *ngIf="selectedPayment.surcharge else hasSurcharge">Payment Has Surcharge {{ selectedPayment.surcharge }}</div>
        <ng-template #hasSurcharge>
            <div class="list-group-item">Payment has No Surcharge</div>
        </ng-template>

        <div class="list-group-item alert alert-danger">{{ selectedPayment.important}}</div>

    </div>
</form>