<h1>Payment Method</h1>
<hr>
<form #f="ngForm" (ngSubmit)="save()" novalidate>
    <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="paymentMethod.name" name="name" id="name" type="text" class="form-control" required placeholder="Payment Name">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
            <div *ngIf="name?.errors.required">Name is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="surcharge">Surcharge</label>
        <input #surcharge="ngModel" [(ngModel)]="paymentMethod.surcharge" name="surcharge" id="surcharge" class="form-control" type="number"
            required [min]="0">
        <div class="alert alert-danger" *ngIf="surcharge.touched && surcharge.invalid">
            <div *ngIf="surcharge?.errors.required">Surcharge is required.</div>
            <div *ngIf="surcharge?.errors.min">Price should be 0 or higher.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="important">Important Note</label>
        <input #important="ngModel" [(ngModel)]="paymentMethod.important" name="important" id="important" type="text" class="form-control"
            placeholder="Important Info.">
    </div>
    <div class="form-group">
        <label for="note">Note</label>
        <input #note="ngModel" [(ngModel)]="paymentMethod.note" name="note" id="note" type="text" class="form-control" placeholder="Note">
    </div>
    <div class="form-group">
        <p>
            <button class="btn btn-primary" [disabled]="f.invalid">Save</button>
            <button class="btn btn-danger" (click)="deletePaymentMethod()" *ngIf="paymentMethodId" [disabled]="f.invalid">Delete</button>
            <a class="btn btn-default" [routerLink]="['/admin/payment-methods']">View Products List</a>
        </p>
    </div>
</form>