@import "./../../../shared/sass/base/_base.scss";
.navbar {
    height: $nav-height; // background-color: $color-black;
    background-image: linear-gradient(to right, $color-black 100%, rgb(14, 14, 14));
    padding: 0 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: $color-grey-1;
    width: 100%;
    z-index: 9999;
    position: fixed;
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: .25);
    top: 0;
    border-radius: 0;
    @include respond(phone) {
        .c-row {
            width: 100%;
        }
    }
    &__navigation {
        @include respond(phone) {
            display: none;
        }
    }
    &>.row {
        width: auto;
    }
    &__logo-box {
        float: left;
        margin-bottom: 8rem;
        top: -10rem;
    }
    &__logo {
        width: 10rem;
        height: auto;
        background-blend-mode: screen;
        border-radius: 2.5rem;
    }
    &__list {
        list-style: none;
        margin-top: 1rem;
    }
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
        &:hover,
        &:active {
            @include link-hover-active;
            transform: translateY(-.2rem) scale(1.1);
        }
    }
    &__link {
        padding: 0 1rem;
        border-radius: 3px;
        &:link,
        &:visited {
            @include link-link-visited($color-grey-light, $color-secondary-base);
        }
        &--home {
            border-radius: 3px;
            font-weight: 700;
            padding: 0 1rem;
            @include link-link-visited($color-grey-1, $color-tertiary-base);
        }
    }
    &__right {
        padding-top: 2rem;
        float: right;
        position: fixed;
        top: -2rem;
        right: 8.5rem;
        &--detail {
            width: max-content;
            float: right;
            a {
                &:link,
                &:visited {
                    @include link-link-visited($color-grey-1);
                }
            }
            &__user {
                float: right;
                position: fixed;
                right: 15rem;
                @include respond(phone) {
                    margin-top: .4rem;
                }
                img {
                    width: 4rem;
                    border-radius: 5rem;
                    vertical-align: middle;
                }
                span {
                    padding-left: 1rem;
                    &:hover {
                        color: $color-secondary-light;
                    }
                }
            }
            &__login {
                text-decoration: none;
                text-transform: uppercase;
                display: inline-block;
                padding-right: 1rem;
                &:hover {
                    transform: scale(1.15);
                    color: $color-secondary-base;
                }
            }
            &__cart {
                font-size: 2.5rem;
                &:hover {
                    transform: scale(1.15);
                    i {
                        color: $color-secondary-light;
                    }
                    span {
                        color: $color-secondary-light;
                    }
                }
            }
        }
        &--dropdown {
            &__checkbox {
                opacity: 0;
                visibility: hidden;
                float: left;
            }
            &__icon {
                @include nav-menu-icon;
            }
            &__label {
                // background-color: $color-tertiary-dark;
                // height: 6rem;
                // width: 6rem;
                position: fixed;
                top: .5rem;
                right: 4rem; // border-radius: $border-radius-tiny;
                z-index: 999999; // box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: .1);                
                i {
                    font-size: 4rem;
                    color: $color-secondary-base;
                    &:hover {
                        // background-color: $color-tertiary-light;
                        transform: scale(1.1);
                    }
                }
            }
            &__background {
                height: 5rem;
                width: 5rem;
                border-radius: 1px;
                position: fixed;
                top: 2.5rem;
                right: 0;
                background-image: radial-gradient($color-secondary-base 40%, $color-secondary-light);
                transition: transform .8s;
                opacity: 0;
            }
            &__menu {
                text-align: center;
                top: 20rem;
                position: fixed;
                opacity: 0;
                visibility: hidden;
                transition: all .7s;
                width: 55rem;
                &--list {
                    list-style: none;
                    text-transform: uppercase;
                    font-size: 3.5rem;
                    &__item {
                        border-bottom: 1px solid $color-grey-2;
                    }
                    &__link {
                        &:link,
                        &:visited {
                            display: inline-block;
                            padding: 0 1rem;
                            text-decoration: none;
                            color: $color-grey-1;
                        }
                        &:hover,
                        &:active {
                            background-color: $color-tertiary-light;
                        }
                    }
                }
            }
            &__checkbox:checked~&__background {
                opacity: 1;
                backface-visibility: hidden;
                border-radius: 0;
                top: 5rem;
                z-index: -1;
                width: 100%;
                height: 100%; // -webkit-transform: scale(100);
                // -moz-transform: scale(100);
                // -o-transform: scale(100);
                // -ms-transform: scale(100);
                // transform: scale(100);
                // -webkit-transform-origin: 100% 0%;
                // -moz-transform-origin: 100% 0%;
                // -o-transform-origin: 100% 0%;
                // -ms-transform-origin: 100% 0%;
                // transform-origin: 100% 0%;
                @include respond(phone) {
                    // right: 0;
                    // -webkit-transform: scale(10);
                    // -moz-transform: scale(10);
                    // -o-transform: scale(10);
                    // -ms-transform: scale(10);
                    // transform: scale(10);
                    // -webkit-transform-origin: 100% 0%;
                    // -moz-transform-origin: 100% 0%;
                    // -o-transform-origin: 100% 0%;
                    // -ms-transform-origin: 100% 0%;
                    // transform-origin: 100% 0%;
                }
            }
            &__checkbox:checked~&__menu {
                opacity: 1;
                visibility: visible;
                right: calc(50% - 27.5rem);
            }
            &__checkbox:checked~&__label {
                // background-color: $color-tertiary-light;
                i {
                    color: $color-tertiary-light;
                }
            }
            &__checkbox:checked~&__label>&__icon {
                background-color: transparent;
            }
            &__checkbox:checked~&__label>&__icon::before {
                top: 0;
                transform: rotate(135deg);
            }
            &__checkbox:checked~&__label>&__icon::after {
                top: 0;
                transform: rotate(-135deg);
            }
        }
    }
}

.user-img {
    width: 5rem;
    border-radius: 5rem;
    top: 2.5rem;
    position: fixed;
    right: 30rem;
    float: right;
}

.user__cart {
    top: 2.5rem;
    position: fixed;
    right: 5rem;
    float: right;
}