<div class="navbar">
    <div class="navbar__logo-box">
        <img src="/assets/img/logo.png" alt="Logo" class="navbar__logo">
    </div>
    <div class="c-row">
        <div class="col-2-of-3">
            <div class="navbar__navigation">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a [routerLink]="['/home']" class="footer navbar__link--home">Home</a>
                    </li>
                    <li class="navbar__item" *ngFor="let ni of navItems">
                        <a (click)="onGoTo(ni.id)" [routerLink]="ni.routerLink" class="footer navbar__link" [id]="ni.id">{{ ni.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="navbar__right">
                <div class="navbar__right--detail">
                    <a (click)="onLogin()" *ngIf="!auth0.isAuthenticated()" class="navbar__right--detail__login"> Login </a>
                    <a [routerLink]="['/user-profile']" class="navbar__right--detail__user" *ngIf="auth0.isAuthenticated()">
                        <img [src]="auth0.userProfile?.picture" alt="{{ auth0.userProfile?.nickname }}">
                        <span> Hi, {{ auth0.userProfile?.nickname }}</span>
                    </a>
                    <a [routerLink]="['/shopping-cart']" class="navbar__right--detail__cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="badge badge-warning">{{ itemsCount$ | async }}</span>
                    </a>
                </div>
                <div class="navbar__right--dropdown">
                    <input (click)="onMenuCheck()" [checked]="isOpenMenu" type="checkbox" class="navbar__right--dropdown__checkbox" id="navbar-chk__toggle"
                        #chkMenu>
                    <label for="navbar-chk__toggle" class="navbar__right--dropdown__label" *ngIf="auth0.isAuthenticated()">
                        <!-- <span class="navbar__right--dropdown__icon">&nbsp;</span> -->
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </label>
                    <div class="navbar__right--dropdown__background"> &nbsp;
                    </div>
                    <div class="navbar__right--dropdown__menu" *ngIf="auth0.isAuthenticated()" #menu>
                        <ul class="navbar__right--dropdown__menu--list">
                            <li class="navbar__right--dropdown__menu--list__item" *ngFor="let item of menuItems">
                                <a (click)="onMenuCheck(true)" [routerLink]="item.routerLink" class="navbar__right--dropdown__menu--list__link">{{ item.name }}</a>
                            </li>
                            <li class="navbar__right--dropdown__menu--list__item">
                                <a (click)="onMenuCheck(true)" [routerLink]="['/user-profile']" class="navbar__right--dropdown__menu--list__link">User Profile</a>
                            </li>
                            <li class="navbar__right--dropdown__menu--list__item">
                                <a class="navbar__right--dropdown__menu--list__link st-logout" (click)="onLogout()" *ngIf="auth0.isAuthenticated()" [style.color]="'$color-grey-1'">Logout </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>