.st-btn {
    padding: 1rem 1rem;
    background-color: $color-secondary-base;
    border-radius: $border-radius-tiny;
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: .2);
    color: $color-white;
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: .4rem 2.5rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        margin-top: 5rem;
        font-size: inherit;
    }
    &:hover {
        box-shadow: 0 1rem 4rem rgba($color: $color-black, $alpha: .45);
        &::after {
            transform: translateY(-.1rem);
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(.1rem);
        box-shadow: 0 .5rem 1rem rgba($color: $color-black, $alpha: .2);
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--primary {
        background-color: $color-primary-base;
        color: $color-white;
        padding: 1.5rem 4rem;
        display: inline-block;
        &::after {
            background-color: $color-primary-base;
        }
    }
    &--secondary {
        background-color: $color-secondary-base;
        color: $color-white;
        padding: 1.5rem 4rem;
        display: inline-block;
        &::after {
            background-color: $color-secondary-base;
        }
    }
    &--tertiary {
        background-color: $color-tertiary-light;
        color: $color-white;
        padding: 2.5rem 4rem;
        display: inline-block;
        &::after {
            background-color: $color-tertiary-light;
        }
    }
    &--add-to-cart {
        padding: .5rem .5rem;
        background-blend-mode: screen;
        background-image: linear-gradient(to right bottom, $color-secondary-base, $color-secondary-dark), linear-gradient(to left bottom, $color-secondary-base, $color-secondary-dark);
        color: $color-white;
        font-weight: 700;
        width: 100%;
        display: inline-block;
        border-radius: 3px;
        text-decoration: none;
        transition: all .2s;
        -webkit-box-shadow: 0 .8rem .7rem -2px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 .8rem .7rem -2px rgba(0, 0, 0, 0.12);
        box-shadow: 0 .8rem .7rem -2px rgba(0, 0, 0, 0.12);
        &:hover {
            transform: translateY(-.2rem);
            -webkit-box-shadow: 0 .8rem .7rem -2px rgba(0, 0, 0, 0.17);
            -moz-box-shadow: 0 .8rem .7rem -2px rgba(0, 0, 0, 0.17);
            box-shadow: 0 .8rem .7rem -2px rgba(0, 0, 0, 0.17);
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), linear-gradient(to left bottom, $color-secondary-light, $color-secondary-dark);
        }
    }
}

#to-top {
    position: fixed;
    bottom: 2rem;
    width: 5rem;
    left: calc(50% - 25px);
    z-index: 99;
    border: none;
    font-weight: 700;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    &:hover {
        background-color: $color-tertiary-light;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary-base;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-base;
        padding: 3px;
        transition: all .2s;
    }
    &:hover {
        background-color: $color-primary-base;
        padding: 0 2rem;
        color: $color-white;
        @include shadow(.25);
    }
    &:active {
        @include shadow(.15);
    }
}

.st-logout {
    color: $color-grey-1;
}