.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    &__side {
        color: $color-white;
        font-size: 2rem;
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .15);
        &--front {
            background-color: $color-white;
        }
        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom, $color-violet-light, $color-violet-dark);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-indigo-light, $color-indigo-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
            }
            &-4 {
                background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark);
            }
            &-5 {
                background-image: linear-gradient(to right bottom, $color-yellow-light, $color-yellow-dark);
            }
            &-6 {
                background-image: linear-gradient(to right bottom, $color-orange-light, $color-orange-dark);
            }
            &-7 {
                background-image: linear-gradient(to right bottom, $color-red-light, $color-red-dark);
            }
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    &__picture {
        background-size: cover;
        height: 35rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        &--1 {
            background-image: linear-gradient(to right bottom, $color-violet-light, $color-violet-dark), url('/assets/img/notebook-laptop-1.jpg');
        }
        &--2 {
            background-image: linear-gradient(to right bottom, $color-indigo-light, $color-indigo-dark), url('/assets/img/notebook-laptop-1.jpg');
        }
        &--3 {
            background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark), url('/assets/img/notebook-laptop-1.jpg');
        }
        &--4 {
            background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark), url('/assets/img/notebook-laptop-1.jpg');
        }
        &--5 {
            background-image: linear-gradient(to right bottom, $color-yellow-light, $color-yellow-dark), url('/assets/img/notebook-laptop-1.jpg');
        }
        &--6 {
            background-image: linear-gradient(to right bottom, $color-orange-light, $color-orange-dark), url('/assets/img/notebook-laptop-1.jpg');
        }
        &--7 {
            background-image: linear-gradient(to right bottom, $color-red-light, $color-red-dark), url('/assets/img/notebook-laptop-1.jpg');
        }
    }
    &__heading {
        height: 60%;
        overflow: hidden;
        h4 {
            color: $color-white;
            font-size: 2.5rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center; // position: absolute;
            width: 100%;
            height: 10%;
            overflow: hidden;
        }
    }
    &__details {
        height: 20%;
        overflow: hidden;
        color: $color-black;
        background-color: $color-black;
        padding: 3rem;
        height: 80%;
    }
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        text-align: center;
    }
    &__price-box {
        margin-bottom: 6rem;
        color: $color-white;
        bottom: 0;
        height: 20%;
    }
    &__description {
        font-size: 1.5rem;
    }
    &__price-only {
        font-size: 2.4rem;
        text-transform: uppercase;
    }
    &__price-value {
        font-size: 4rem;
        font-weight: 100;
        background-color: $color-red-light;
    }
}