textarea {
    resize: vertical;
    width: 100%;
}

.express {
    background-color: rgb(231, 205, 98);
    color: rgb(49, 49, 49);
}

.a-disabled {
    pointer-events: none;
    background-color: #7BA9D0;
}