<h1>Shipping Company</h1>
<hr>
<form #f="ngForm" (ngSubmit)="save()">
    <div class="form-group">
        <label for="company">Company</label>
        <input #company="ngModel" [(ngModel)]="shippingCompany.company" name="company" id="company" type="text" class="form-control"
            placeholder="Company Name" required>
        <div *ngIf="company.touched && company.invalid" class="alert alert-danger">
            <div *ngIf="company?.errors.required">Company is required.</div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="shippingMethods">Shipping Methods</label>
                    <div class="list-group">
                        <div class="list-group-item" *ngFor="let s of shippingCompany.shippingMethods">
                            <span class="badge" [ngClass]="{ 'express': s.deliveryMethod === 'Express' }">{{ s.deliveryMethod }}</span> {{ s.price | currency:'AUD':true }} - {{ s.estimateTime }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 well">
                <h4 class="add-shipping-method-title">Add Shipping Method</h4>
                <hr>
                <div class="form-group">
                    <label for="deliveryMethod">Delivery Method</label>
                    <select #deliveryMethod="ngModel" [(ngModel)]="shippingMethod.deliveryMethod" name="deliveryMethod" id="deliveryMethod" class="form-control"
                        required>
                        <option value="">Select...</option>
                        <option [value]="'Standard'">Standard</option>
                        <option [value]="'Express'">Express</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input #price="ngModel" [(ngModel)]="shippingMethod.price" name="price" id="price" type="number" class="form-control" required
                        [min]="0">
                    <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
                        <div *ngIf="price?.errors.required">Price time is required.</div>
                        <div *ngIf="price?.errors.min">Price should be 0 or higher.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="estimateTime">Estimate Time</label>
                    <input #estimateTime="ngModel" [(ngModel)]="shippingMethod.estimateTime" name="estimateTime" id="estimateTime" type="text"
                        class="form-control" required>
                    <div *ngIf="estimateTime.touched && estimateTime.invalid" class="alert alert-danger">
                        <div *ngIf="estimateTime?.errors.required">Estimate time is required.</div>
                    </div>
                </div>
                <p>
                    <a class="btn btn-primary" (click)="onAddShippingMethod()" [ngClass]="{ 'a-disabled': (deliveryMethod.invalid || price.invalid || estimateTime.invalid || company.invalid) }">Add Shipping Method</a>
                </p>
            </div>
        </div>

    </div>
    <div class="form-group">
        <label for="slogan">Slogan</label>
        <input #slogan="ngModel" [(ngModel)]="shippingCompany.slogan" name="slogan" id="slogan" type="text" class="form-control"
            required>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="specialNote">Special Note</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea #specialNote="ngModel" [(ngModel)]="shippingCompany.specialNote" name="specialNote" id="specialNote" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <p>
            <button class="btn btn-primary" [disabled]="company.invalid">Save</button>
            <a class="btn btn-danger" (click)="deleteShippingcompany()" *ngIf="shippingCompanyId" [ngClass]="{ 'a-disabled': company.invalid }">Delete</a>
            <a class="btn btn-default" [routerLink]="['/admin/shipping-companies']">View Shipping Companies List</a>
        </p>
    </div>
</form>