@mixin bg-header-image {
    background-image: linear-gradient( to right bottom, rgba($color-secondary-dark, .25), rgba($color-primary-dark, .8)), url("assets/img/bg-header-1.jpg");
}

@mixin bg-linear-primary {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
}

@mixin shadow($alpha: .2) {
    text-shadow: .5rem 1rem 2rem rgba($color-black, $alpha);
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin div-center {
    margin: 0 auto;
}

@mixin link-hover-active {
    color: $color-grey-1;
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: .4);
}

@mixin link-link-visited($color: #fff,
$background-color: #000) {
    color: $color;
    background-color: $background-color;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
}

@mixin nav-menu-icon {
    position: relative;
    margin-top: 2.5vh;
    &,
    &:before,
    &:after {
        width: 3.9rem;
        height: 3px;
        background-color: $color-grey-1;
        display: inline-block;
        margin-left: 1rem;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: -1rem;
        transition: all .2s;
    }
    &::before {
        margin-left: 1rem;
        top: -1.5rem;
    }
    &::after {
        top: 1.5rem;
    }
}

@mixin heading-linear-gradient($color-light: $color-primary-light,
$color-dark: $color-primary-dark,
$scale: 1.1,
$font-size: 3.5rem) {
    font-size: $font-size;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    background-image: linear-gradient(to right, $color-light, $color-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    &:hover {
        transform: scale($scale);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

@mixin message($color-light: $color-secondary-base,
$color-dark: $color-secondary-dark) {
    background-blend-mode: screen;
    background-image: linear-gradient(to right, $color-light, $color-dark), linear-gradient(to left, $color-light, $color-dark);
    color: $color-white;
    border-radius: 3px;
    width: 100%;
    font-weight: 700;
    font-size: $default-font-size;
    display: inline-block;
    padding: .5rem .5rem;
    -webkit-box-shadow: 0 .8rem .7rem -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 .8rem .7rem -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 .8rem .7rem -2px rgba(0, 0, 0, 0.12);
}

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        // 600px
        @media (max-width: 37.5rem) {
            @content;
        }
    }
    @if $breakpoint==tab-portrait {
        // 900px
        @media (max-width: 56.25rem) {
            @content;
        }
    }
    @if $breakpoint==tab-landscape {
        // 1200px
        @media (max-width: 75rem) {
            @content;
        }
    }
    @if $breakpoint==big-desktop {
        // 600px
        @media (max-width: 112.5rem) {
            @content;
        }
    }
}