//------------------------- Colors--Theme
$color-primary-base: rgb(71, 71, 71);
$color-primary-light: rgb(148, 148, 148);
$color-primary-dark: rgb(0, 0, 0);
$color-secondary-base: rgb(55, 167, 74);
$color-secondary-light: rgb(89, 197, 107);
$color-secondary-dark: rgb(32, 126, 48);
$color-tertiary-base: rgb(177, 55, 55);
$color-tertiary-light: rgb(206, 89, 89);
$color-tertiary-dark: rgb(138, 30, 30);
//------------------------- Colors-Basic
$color-white: #ffffff;
$color-black: #000000;
$color-grey-light: rgb(248, 248, 248);
$color-grey-medium: rgb(90, 90, 90);
$color-grey-dark: black;
$color-grey-1: rgb(218, 218, 218);
$color-grey-2: rgb(179, 179, 179);
$color-grey-3: rgb(134, 134, 134);
//------------------------- Rainbow Pallete
//------------- violet
$color-violet-light: rgb(25, 15, 29);
$color-violet-medium:#9400D3;
$color-violet-dark: rgb(119, 0, 170);
//------------- indigo
$color-indigo-light: rgb(109, 0, 187);
$color-indigo-medium:#4B0082;
$color-indigo-dark: rgb(50, 0, 85);
//------------- blue
$color-blue-light: rgb(125, 125, 255);
$color-blue-medium: rgb(0, 0, 255);
$color-blue-dark: rgb(0, 0, 128);
//------------- green
$color-green-light: rgb(121, 255, 121);
$color-green-medium: rgb(0, 255, 0);
$color-green-dark: rgb(0, 136, 0);
//------------- yellow
$color-yellow-light: rgb(255, 255, 125);
$color-yellow-medium: rgb(255, 255, 0);
$color-yellow-dark: rgb(133, 133, 0);
//------------- orange
$color-orange-light: rgb(255, 189, 124);
$color-orange-medium: rgb(255, 128, 0);
$color-orange-dark: rgb(138, 69, 0);
//------------- red
$color-red-light: rgb(255, 122, 122);
$color-red-medium: rgb(255, 0, 0);
$color-red-dark: rgb(136, 0, 0);
//------------------------- Border
$border-radius-tiny: 1rem;
$border-radius-small: 3rem;
$border-radius-medium: 5rem;
$border-radius-large: 7rem;
//------------------------- Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
//------------------------- Font Size
$default-font-size: 1.6rem;
//-------------------------  Navigation
$nav-height: 5rem;
$nav-header-height: -13rem;