<footer class="footer">
    <div class="footer__logo-box">
        <img src="/assets/img/logo.png" alt="Logo" class="footer__logo">
    </div>
    <div class="c-row">
        <div class="col-1-of-2">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer footer__link">Company</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer footer__link">Contact Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer footer__link">Careers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer footer__link">Privacy Policy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer footer__link"> Terms </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-2">
            <p class="footer__copyright">
                Built by
                <span class="footer__author">Loc Trang</span>. Copyright &copy; by
                <span class="footer__author">Loc Trang</span>. This website is for demo purposes only. You are not charged for any product and no payment
                detail is collected.
            </p>
        </div>
    </div>
</footer>