@import "./../../../shared/sass/base/_base.scss";
* {
    padding-bottom: 2rem;
}

.footer {
    background-color: $color-black;
    padding: 0 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: $color-grey-1;
    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }
    &__logo {
        width: 30rem;
        height: auto;
    }
    &__navigation {
        border-top: 1px solid $color-grey-2;
        padding-top: 2rem;
        display: inline-block;
    }
    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
    &__link {
        border-radius: 3px;
        &:link,
        &:visited {
            @include link-link-visited($color-grey-light, $color-tertiary-base);
        }
        &:hover,
        &:active {
            @include link-hover-active;
            transform: translateY(-.5rem) scale(1.2);
        }
    }
    &__copyright {
        border-top: 1px solid $color-grey-2;
        padding-top: 2rem;
        width: 100%;
        float: right;
    }
}