<div *ngIf="formObject">
    <form #f="ngForm" (change)="save(f.form)" novalidate>
        <div *ngIf="formSettings">
            <h2>{{ formSettings.title }}</h2>
            <hr>
        </div>
        <div *ngFor="let key of keys; let idx = index">

            <!-- //! Input Type TEXT -->
            <div *ngIf="inputConfigs[idx].type && inputConfigs[idx].type == 1" class="form-group">
                <label [for]="key"> {{ inputConfigs[idx].label }}</label>

                <input #input [id]="key" [name]="key" [(ngModel)]="formObject[key]" type="text" class="form-control" [required]="inputConfigs[idx].isRequired"
                    [readonly]="inputConfigs[idx]?.isReadonly" *ngIf="inputConfigs[idx]?.isUrl" [placeholder]="inputConfigs[idx].label"
                    url>
                <input [id]="key" [name]="key" [(ngModel)]="formObject[key]" type="text" class="form-control" [required]="inputConfigs[idx].isRequired"
                    [readonly]="inputConfigs[idx]?.isReadonly" *ngIf="!inputConfigs[idx]?.isUrl" [placeholder]="inputConfigs[idx].label">
            </div>

            <!-- //! Input Type NUMBER -->
            <div *ngIf="inputConfigs[idx].type && inputConfigs[idx].type == 2" class="form-group">
                <label [for]="key"> {{ inputConfigs[idx].label }}</label>
                <input [id]="key" [name]="key" [(ngModel)]="formObject[key]" type="number" class="form-control" [min]="inputConfigs[idx].min"
                    [max]="inputConfigs[idx].max" [readonly]="inputConfigs[idx].isReadonly" [placeholder]="inputConfigs[idx].label">
            </div>

            <!-- //! Input Type SELECT -->
            <div *ngIf="inputConfigs[idx].type && inputConfigs[idx].type == 3" class="form-group">
                <label [for]="key"> {{ inputConfigs[idx].label }}</label>
                <select [(ngModel)]="formObject[key]" [name]="key" [id]="key" class="form-control" [required]="inputConfigs[idx].isRequired">
                    <option *ngFor="let opt of inputConfigs[idx]['array']" [value]="opt.key">{{ opt.value }}</option>
                </select>
            </div>

            <!-- //! Input Type TEXT AREA -->
            <div *ngIf="inputConfigs[idx].type && inputConfigs[idx].type == 4" class="form-group">
                <label [for]="key"> {{ inputConfigs[idx].label }}</label>
                <textarea [(ngModel)]="formObject[key]" [name]="key" [id]="key" class="form-control" [style.width]="'100%'" [required]="inputConfigs[idx].isRequired"
                    [readonly]="inputConfigs[idx].isReadonly" [placeholder]="inputConfigs[idx].label"></textarea>
            </div>

            <!-- //! Input Type RADIO -->
            <div *ngIf="inputConfigs[idx].type && inputConfigs[idx].type == 5" class="form-group">
                <label [for]="key"> {{ inputConfigs[idx].label }}</label>
                <div *ngFor="let opt of inputConfigs[idx].array">
                    <input [name]="key" ng-control="key" type="radio" [value]="opt.key" [(ngModel)]="formObject[key]" [required]="inputConfigs[idx].isRequired"
                        [readonly]="inputConfigs[idx].isReadonly"> {{ opt.value }}
                </div>
            </div>

            <!-- //! Input Type CHECKBOX -->
            <div *ngIf="inputConfigs[idx].type && inputConfigs[idx].type == 6" class="form-group">
                <label [for]="key"> {{ inputConfigs[idx].label }}</label>
                <input [id]="key" [name]="key" [(ngModel)]="formObject[key]" type="checkbox" class="checkbox" [required]="inputConfigs[idx].isRequired"
                    [readonly]="inputConfigs[idx].isReadonly">
            </div>


            <div *ngIf="formSettings.validation && f.controls[key]?.touched && f.controls[key]?.invalid" class="alert alert-danger">
                <div *ngIf="f.controls[key]?.errors.required"> {{ inputConfigs[idx].label }} is required!</div>
                <div *ngIf="f.controls[key]?.errors.url"> {{ inputConfigs[idx].label }} is invalid. Please, enter a valid url.</div>
                <div *ngIf="f.controls[key]?.errors.min"> {{ inputConfigs[idx].label }} should be higher!</div>
                <div *ngIf="f.controls[key]?.errors.max"> {{ inputConfigs[idx].label }} should be lower!</div>
            </div>
        </div>
    </form>
</div>