<h1>Shipping Companies List</h1>
<p>
    <a [routerLink]="['/admin/shipping-company/new']" class="btn btn-primary">New Shipping Company</a>
</p>
<responsive-table *ngIf="options" [rtoption]="options"></responsive-table>