<div *ngIf="items.length > 0; else noItems">
    <responsive-table *ngIf="options" [rtoption]="options" (remove-item)="removeItem($event)" (emit-value)="onQuantityChange($event)"></responsive-table>
</div>
<ng-template #noItems>
    <div class="row">
        <div class="col-md-12">You have no item in cart.</div>
    </div>
</ng-template>
<hr>
<div class="row cart-footer">
    <div class="col-md-9"></div>
    <div class="col-md-1">Total</div>
    <div class="col-md-1">
        <p [style.color]="'red'">{{ total | currency:'AUD':true }}</p>
    </div>
    <div class="col-md-1"></div>
</div>
<hr>
<div class="row action">
    <div class="col-md-7"></div>
    <div class="col-md-4">
        <div class="row action">
            <div class="col-md-5">
                <a [routerLink]="['/products']" class="btn btn-success action">Continue Shopping</a>
            </div>
            <div class="col-md-3">
                <button class="btn btn-default action" (click)="clearCart()" [disabled]="items.length < 1">Clear Cart</button>
            </div>
            <div class="col-md-3">
                <button (click)="checkOut()" class="btn btn-danger action" [disabled]="items.length < 1">Check Out</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>