<div [style.text-align]="'center'" *ngIf="!product.inStock">
    <a class="message--sold-out" disabled>SOLD OUT</a>
</div>
<div [style.text-align]="'center'" *ngIf="product.inStock">
    <a class="st-btn--add-to-cart" (click)="addToCart()">
        <i class="glyphicon glyphicon-shopping-cart"></i>
        Add To Cart
    </a>
</div>
<div [style.text-align]="'center'">
    <span class="message--available">{{ product.availability }}</span>
</div>