<h1>Category</h1>
<br>
<div *ngIf="category.id else newCategory">
    <div class="row well">
        <div class="col-md-8">
            <input [disabled]="isDisabled" #categoryName="ngModel" [(ngModel)]="category.name" name="category" id="category" type="text"
                class="form-control" placeholder="Category Name" required>
            <div class="alert alert-danger" *ngIf="categoryName.touched && categoryName.invalid">
                <div>Category name is required.</div>
            </div>
        </div>
        <div class="col-md-4">
            <button [disabled]="isDisabled" class="btn btn-primary" (click)="saveCategory()" [disabled]="categoryName.invalid">Save</button>
            <button [disabled]="isDisabled" class="btn btn-danger" (click)="deleteCategory()" [disabled]="categoryName.invalid">Delete</button>
            <a [routerLink]="['/admin/categories']" class="btn btn-default"> View Categories List</a>
        </div>
    </div>
    <br>
    <div class="list-group">
        <h4>Sub Categories</h4>
        <hr>
        <div class="row" *ngIf="!categoryName.invalid">
            <div class="col-md-8">
                <input [disabled]="isDisabled" #newSubCategory type="text" class="form-control" (keyup)="onSearch(newSubCategory.value)"
                    placeholder="Type to search or a new name to add." required>
            </div>
            <div class="col-md-4">
                <button [disabled]="isDisabled" class="btn btn-primary" (click)="saveSubCategory()" *ngIf="fileredSubcategories?.length! < 1 && newSubCategory.value">Add</button>
            </div>
        </div>
        <br>
        <div class="row" *ngFor="let s of fileredSubcategories">
            <div *ngIf="s != selectedSubCategory && !categoryName.invalid; else editing">
                <div class="col-md-10">
                    <a class="list-group-item" [ngClass]="{ 'disabled': isDisabled }" (click)="editSubCategory(s)">{{ s.name }}</a>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" (click)="editSubCategory(s)">Edit</button>
                </div>
            </div>
            <ng-template #editing>
                <div *ngIf="!categoryName.invalid">
                    <br>
                    <div class="col-md-7">
                        <input #selectedSubCategoryName [(ngModel)]="selectedSubCategory.name" name="selectedSubCategory" id="selectedSubCategory"
                            type="text" class="form-control" placeholder="Sub Category name">
                        <div class="alert alert-danger" *ngIf="selectedSubCategoryName.touched && selectedSubCategoryName.invalid">
                            <div>Sub category name is required.</div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-primary" (click)="saveSubCategory()" [disabled]="selectedSubCategoryName.value === ''">Save</button>
                        <button class="btn btn-default" (click)="clearEdit()">Cancel</button>
                        <button class="btn btn-danger" (click)="deleteSubCategory()" [disabled]="selectedSubCategoryName.value === ''">Delete</button>
                    </div>
                    <br>
                    <br>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #newCategory>
    <div class="row">
        <div class="col-md-10">
            <input #newCategoryName="ngModel" [(ngModel)]="category.name" name="category" id="category" type="text" class="form-control"
                placeholder="Category Name" required>
            <div class="alert alert-danger" *ngIf="newCategoryName.touched && newCategoryName.invalid">
                <div>Category name is required.</div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="saveCategory()" [disabled]="newCategoryName.invalid">Save</button>
        </div>
    </div>
</ng-template>