<div *ngFor="let c of shippingCompanies" class="well">
    <h4>{{ c.company }}</h4>
    <hr>
    <div class="list-group" *ngFor="let m of c.shippingMethods">
        <div class="list-group-item" (click)="onDeliveryMethodSelected(m)" [class.active]="m === selectedShippingMethod">
            <span>{{ m.deliveryMethod }}</span> | {{ m.price | currency:'AUD':true }} - {{ m.estimateTime }}
        </div>
    </div>
</div>