<h1 class="header">Login or Create an Account</h1>
<hr>
<div class="row">
    <div class="col-md-5 well">
        <div class="row">
            <h2>Sign Up</h2>
            <div class="form-group">
                <label for="guestEmail">Email</label>
                <input type="text" class="form-control">
                <label for="guestPassword"></label>
                <input type="password" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" [style.font-weight]="'bold'">Create Account</button>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 well">
        <div class="row">
            <div class="col-md-12">
                <h2>Sign In</h2>
                <div class="form-group">
                    <label for="guestEmail">Email</label>
                    <input type="text" class="form-control">
                    <label for="guestPassword"></label>
                    <input type="password" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-4">
                <button class="btn btn-default" [style.font-weight]="'bold'" (click)="_auth.login()">Login With Google</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" [style.font-weight]="'bold'">Login</button>
            </div>
        </div>
    </div>
</div>