<section class="home">
    <header></header>
    <app-about></app-about>
    <promotions></promotions>
    <contact></contact>
</section>
<!-- <div class="home-content">
    <header class="masthead">
        <image-slider [images]="images"></image-slider>
        <div class="overlay">
            <div class="container">
                <h1 class="display-1 text-white">
                    <a [routerLink]="['/products']" [style.width]="'100%'">PC STORE - Products</a>
                </h1>
            </div>
        </div>
    </header>
    <div class="container sections">
        <h1>
            <a [routerLink]="['/products']" [style.width]="'100%'">Check Out Our Products</a>
        </h1>
        <hr>
        <section *ngFor="let n of newProducts">
            <div class="container well">
                <div class="row">
                    <div class="col-md-6 order-2">
                        <div class="prod-desc" *ngFor="let p of n.productPhotos">
                            <img *ngIf="p.activated === true" class="img-fluid rounded-circle" [src]="path + p.thumbnail" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 order-1">
                        <div class="prod-desc">
                            <h2 class="display-4">
                                <a [routerLink]="['/product/view/', n.id]" [queryParams]="{ name: n.name }" [style.width]="'100%'">{{ n.name }}</a>
                            </h2>
                            <p>{{ n.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> -->