<form #f="ngForm" (change)="save()" novalidate>
    <!-- //? firstName -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="firstName">First Name</label>
        </div>
        <div class="col-md-10">
            <input #firstName="ngModel" [(ngModel)]="addressForm.form.firstName" id="firstName" name="firstName" type="text" class="form-control"
                placeholder="John" [required]="true">
        </div>
    </div>

    <!-- //! firstName VALIDATE -->
    <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger row">
        <div *ngIf="firstName?.errors.required">First name is required!</div>
    </div>

    <!-- //? lastName -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="lastName">Last Name</label>
        </div>
        <div class="col-md-10">
            <input #lastName="ngModel" [(ngModel)]="addressForm.form.lastName" id="lastName" name="lastName" type="text" class="form-control"
                placeholder="Smith" required>
        </div>
    </div>

    <!-- //! lastName VALIDATE -->
    <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger row">
        <div *ngIf="lastName?.errors.required">Last name is required!</div>
    </div>

    <!-- //? company -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="company">Company</label>
        </div>
        <div class="col-md-10">
            <input #company="ngModel" [(ngModel)]="addressForm.form.company" id="company" name="company" type="text" class="form-control"
                placeholder="My Company" required>
        </div>
    </div>

    <!-- //! company VALIDATE -->
    <div *ngIf="company.touched && company.invalid" class="alert alert-danger row">
        <div *ngIf="company?.errors.required">Company is required!</div>
    </div>

    <!-- //? street -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="street">Street</label>
        </div>
        <div class="col-md-10">
            <input #street="ngModel" [(ngModel)]="addressForm.form.street" id="street" name="street" type="text" class="form-control"
                placeholder="123 Street st" required>
        </div>
    </div>

    <!-- //! street VALIDATE -->
    <div *ngIf="street.touched && street.invalid" class="alert alert-danger row">
        <div *ngIf="street?.errors.required">Street is required!</div>
    </div>

    <!-- //? streetCont -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="streetCont">Street Cont.</label>
        </div>
        <div class="col-md-10">
            <input #streetCont="ngModel" [(ngModel)]="addressForm.form.streetCont" id="streetCont" name="streetCont" type="text" class="form-control"
                placeholder="...">
        </div>
    </div>

    <!-- //? postCode -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="postCode">Post Code</label>
        </div>
        <div class="col-md-10">
            <input #postCode="ngModel" [(ngModel)]="addressForm.form.postCode" id="postCode" name="postCode" type="text" class="form-control"
                placeholder="1234" required>
        </div>
    </div>

    <!-- //! postCode VALIDATE -->
    <div *ngIf="postCode.touched && postCode.invalid" class="alert alert-danger row">
        <div *ngIf="postCode?.errors.required">Post code is required!</div>
    </div>

    <!-- //? suburb -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="suburb">Suburb</label>
        </div>
        <div class="col-md-10">
            <input #suburb="ngModel" [(ngModel)]="addressForm.form.suburb" id="suburb" name="suburb" type="text" class="form-control"
                placeholder="Preston" required>
        </div>
    </div>

    <!-- //! suburb VALIDATE -->
    <div *ngIf="suburb.touched && suburb.invalid" class="alert alert-danger row">
        <div *ngIf="suburb?.errors.required">Suburb is required!</div>
    </div>

    <!-- //? state -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="state">State</label>
        </div>
        <div class="col-md-10">
            <input #state="ngModel" [(ngModel)]="addressForm.form.state" id="state" name="state" type="text" class="form-control" placeholder="Victoria"
                required>
        </div>
    </div>

    <!-- //! state VALIDATE -->
    <div *ngIf="state.touched && state.invalid" class="alert alert-danger row">
        <div *ngIf="state?.errors.required">State is required!</div>
    </div>

    <!-- //? country -->
    <div class="row form-group">
        <div class="col-md-2">
            <label for="country">Country</label>
        </div>
        <div class="col-md-10">
            <input #country="ngModel" [(ngModel)]="addressForm.form.country" id="country" name="country" type="text" class="form-control"
                placeholder="Australia" required>
        </div>
    </div>

    <!-- //! country VALIDATE -->
    <div *ngIf="country.touched && country.invalid" class="alert alert-danger row">
        <div *ngIf="country?.errors.required">Country is required!</div>
    </div>
</form>